# SPDX-FileCopyrightText: Copyright (c) 2023-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT
---
services:

  app:
    container_name: revive-code-bot
    image: revive-code-bot:dev
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    command: poetry run python src/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .env:/app/.env
      - ./:/app
    depends_on:
      - postgres
      - redis

  worker:
    container_name: revive-code-bot-worker
    image: revive-code-bot:dev
    command: poetry run python src/manage.py worker
    volumes:
      - .env:/app/.env
      - ./:/app
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: revive-code-bot-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: revive-code-bot
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: revive-code-bot-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data

volumes:
  postgres-data:
  redis-data:
