# SPDX-FileCopyrightText: Copyright (c) 2023-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT

services:

  revive-code-bot-http:
    image: blablatdinov/revive-code-bot:${TAG_NAME}
    command: .venv/bin/gunicorn config.wsgi:application --bind 0.0.0.0:8010 --reload
    restart: always
    ports:
      - 8010:8010
    env_file:
      - .env

  revive-code-bot-worker:
    image: blablatdinov/revive-code-bot:${TAG_NAME}
    command: .venv/bin/python manage.py worker
    restart: always
    env_file:
      - .env

# docker build . -t blablatdinov/revive-code-bot:v0.1.0 && TAG_NAME=v0.1.0 docker compose -f deploy/docker-compose.prod.yml up -d && TAG_NAME=v0.1.0 docker compose -f deploy/docker-compose.prod.yml logs -f
